language: node_js

node_js:
    - v6

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8

before_install: cd new_backend
script:
  - yarn && ls && yarn test -i --coverage

cache:
  directories:
  - "$HOME/.npm"

env:
  global:
  - CXX=g++-4.8
  - SENDGRID_KEY=sendgridKey
  - MASTER_KEY=masterKey
  - JWT_SECRET=jwtSecret
